.box {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    width: 80vw;
    justify-content: space-between;
    align-items: center;
}

.info {
    background-color: #E5E5E566;
    flex-direction: column;

}