.box {
    display: flex;
    flex-direction: row;
    width: 80vw;
    align-items: center;
    justify-content: space-evenly;
}

.info {
    background-color: #E5E5E5;
    transparency: 40%;
    flex-direction: column;

}