.box {
    display: flex;
    flex-direction: row;
    width: 80vw;
    align-items: center;
    justify-content: space-between;
}

.info {
    background-color: #E5E5E566;
    flex-direction: column;

}

.fav-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#search-results {
    width: 100vw;
    margin-left: -0.5rem;
    margin-bottom: 2rem;
}