@import url("https://use.typekit.net/tln1elf.css");

body {
    font-family: "tt-commons-pro", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: #FAF4EB;
    margin: 0;
}

main {
    margin: 1rem;
}

.box {
    padding: 12.5vw 5vw;
    border-radius: 1.5rem;
    margin: 3vw 1vw;
}

.background-color-1 {
    background-color: #FAF4EB;
}

.color-1 {
    background-color: #152108;
}

.color-2 {
    background-color: #284010;
}

.color-3 {
    background-color: #59733F;
}

.color-4 {
    background-color: #A7BF8F;
}

.color-5 {
    background-color: #735439;

}

.color-6 {
    background-color: #F5D07C;

}

.color-7 {
    background-color: #E5E5E5;
    /* gebruik transparancy 40% / 60% */
}

.color-8 {
    background-color: #A7BF8F;
    /* gebruik transparancy 30% */
}

.color-white {
    background-color: #FFFFFF;
}

.text-color-1 {
    color: #152108;
}

.text-color-2 {
    color: #E5E5E5;
    /* gebruik transparancy 40% / 60% */
}

.text-color-3 {
    color: black;
}