@import url("https://use.typekit.net/tln1elf.css");


body {
    font-family: "tt-commons-pro", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #735439;
    height: 100vh;
    margin: 0;
    background-color: #F4EEE5;
}

nav img {
    height: 12vw;
    margin: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-center {
    text-align: center;
}

main img {
    height: 50vw;
    margin: 5vw;
    padding-right: 8vw;
    padding-bottom: 5vw;
}

h1 {
    font-family: "tt-commons-pro", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #284010;
}

h2 {
    color: #284010;
}

button {
    background-color: #A7BF8F; /* Green */
    border: 2px solid #284010;
    border-radius: 16px;
    color: #735439;
    padding: 2vw 4vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "tt-commons-pro", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    margin: 2vw;
    width: 90vw;
}
input[type="file"]::file-selector-button{
    background-color: #A7BF8F; /* Green */
    border: 2px solid #284010;
    border-radius: 16px;
    color: #735439;
    padding: 2vw 4vw;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-family: "tt-commons-pro", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    margin: 2vw;
    width: 60vw;
    justify-content: center;
}

footer img {
    height: 12vw;
}

footer{
    position: fixed;
    bottom: 0;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

video {
    border: 2px solid #284010;
    max-width: 75vw;
    height: 80vw;
    margin: 5vw 15vw;
}
#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.info {
    background-color: #A7BF8F;
    padding: 5vw;
    border: 2px solid #284010;
    border-radius: 16px;
    width: 90vw;
}

.stripe {
    width: 75vw;
    border: 3px solid #735439;
    border-radius: 90px;
}

.short-stripe {
    width: 65vw;
    border: 3px solid #735439;
    border-radius: 90px;
}

.sub-header {
    background-color: #A7BF8F;
    padding: 5vw;
    width: 90vw;
    border: 2px solid #284010;
    border-radius: 16px;
    text-align: center;
}

section {
    margin: 4vw;
    padding: 1vw;
}

section #nutri-score-image, #ecoscore-image, #ingredients-image {
    height: 10vh;
}

.history {
    background-color: #A7BF8F;
    margin: 4vw;
    padding: 1vw;
    border: 2px solid #284010;
    border-radius: 16px;

}
.history button {
    background-color: #284010;
    color: #F4EEE5;
}

#email, #password, #f_name, #l_name, #phone {
    background-color: #F4EEE5; /* Green */
    border: 2px solid #735439;
    border-radius: 16px;
    color: #735439;
    padding: 2vw 4vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "tt-commons-pro", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    margin: 2vw;
    width: 80vw;
}